* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}

input,
button {
  outline: none !important;
}

.app {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 425px) {
  html {
    font-size: 13px;
  }
}
